*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin-left: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-size: 18px;
  line-height: 1.2;
  background-color: #e1e1e1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
}

.photo-card {
  margin: 10px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(81, 113, 160);
  border-radius: 4px;
  padding: 4px;
}

.stats-item {
  display: flex;
  align-items: center;
}

.material-icons {
  display: block;
  margin-right: 16px;
  width: 16px;
}

.loader-ellips {
  font-size: 15px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
