*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin-left: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: #ece9e9;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img:hover,
img:focus {
  cursor: zoom-in;
}

.search-form {
  text-align: center;
  outline: none;
  border: none;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.list-card {
  display: block;

  transition: transform 300ms ease;
}

.list-card:hover,
.list-card:focus {
  transform: scale(1.04);
  transition: transform 300ms ease;
}

.photo-card {
  margin: 10px;
  outline: 1px solid;
  outline-color: #80808025;
}

button {
  display: block;
  padding: 8px 16px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #8e69b8;
  border-style: none;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  transform: scale(1.1);
  transition: transform 300ms cubic-bezier(0.3, 0.3, 0.3, 1);
}

.hidden {
  display: none;
}

.stats {
  display: flex;
  outline-color: #80808025;
  background-color: rgba(60, 60, 60, 0.2);
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% / 4);
}

.material-icons {
  display: block;
  font-size: 24px;
  color: rgb(60, 60, 60);
}

/* LOADER_ELLIPS */

/*
.loader-ellips {
  font-size: 15px; 
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555555;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
 */
